<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Name:</label>

  <br>

  <input type="text" name="pet[name]" id="pet_name">

  <br>
  <h3>Register a Pet</h3>

  <br>


  <input type="submit" value="Create Owner">
</form>
